<main>
  <div class="mt-3 mr-3 d-flex justify-content-end">
    <%= search_form_for @q, url: search_words_path do |f| %>
      <%= f.label :word_cont, 'ワード検索' %>
      <%= f.search_field :word_cont %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-9">
        <h1 class="text-center">Words</h1>
        <% @words.each do |word| %>
          <% if word.user.is_deleted == false %>
            <div class="mt-5 d-flex">
              <div class="mr-3">
              <%= attachment_image_tag word.user, :image, :fill, 40, 40, format: 'jpeg', fallback: "motivation.jpg", size:'40x40', class: "rounded-circle" %>
              </div>
              <div>
              <%= link_to word.word, word_path(word), class: "btn btn-outline-secondary text-left shadow-sm" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>