<main>
  <!--ransackによる検索機能-->
  <div class="mt-3 mr-3 d-flex justify-content-end">
    <%= search_form_for @q, url: search_admin_users_path do |f| %>
      <%= f.label :last_name_cont, 'ユーザー検索' %>
      <%= f.search_field :last_name_cont, placeholder: "苗字" %>
      <%= f.search_field :first_name_cont, placeholder: "名前" %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <!--/-->
  <div class="container">
    <div class="row">
      <div class="mx-auto col-10">
        <h1 class="mt-5 text-center">会員一覧</h1>
        <table class="table">
          <thead>
            <tr>
              <!--ransackによるソート機能-->
              <th class="col-1"><%= sort_link(@q, :id, "ID") %></th>
              <th class="col-1"><%= sort_link(@q, :last_name, "名前") %></th>
              <th class="col-2"><%= sort_link(@q, :nickname, "ニックネーム") %></th>
              <th class="col-2"><%= sort_link(@q, :email, "メールアドレス") %></th>
              <th class="col-1"><%= sort_link(@q, :is_deleted, "ステータス") %></th>
              <!--/-->
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td>
                  <%= user.id %>
                </td>
                <td>
                  <%= link_to "#{user.last_name} #{user.first_name}", admin_user_path(user) %>
                </td>
                <td>
                  <%= user.nickname %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <% if user.is_deleted == false %>
                    <div class="text-success">有効</div>
                  <% else %>
                    <div>退会</div>
                  <% end %>
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-3">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</main>