<main>
  <div class="container px-5 px-sm-0 mt-5">
    <div class="row">
      <!--ここから左側のプロフィール欄-->
      <div class="col-md-3 bg-dark text-white border border-primary rounded shadow-lg">
        <div class="text-center mt-3">
          <div class="mt-3">
            <% if @user.nickname %>
              <%= @user.nickname %>
            <% else %>
              <%= @user.last_name %> <%= @user.first_name %>
            <% end %>
          </div>
          <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "motivation.jpg", size:'100x100', class: "rounded-circle" %>
          <% if @user.introduction %>
            <div class="border border-white rounded"><%= @user.introduction %></div>
          <% end %>
        </div>
        <div class="m-auto pb-3 w-50">
          <div id="follow-count">
            <%= render 'public/relationships/follow_count', user: @user %>
          </div>
          <div class="mt-3"><%= link_to 'いいね一覧', user_favorites_path(@user), class: 'text-light' %></div>
          <% if @user == current_user %>
            <div class="mt-3"><%= link_to "プロフィール編集", edit_user_path(current_user), class: 'text-light' %></div>
            <div class="mt-3"><%= link_to "アカウント編集", edit_user_registration_path, class: 'text-light' %></div>
            <div class="mt-3"><a class="setting">トップ画面設定</a></div>
            <div class="setting-action">
              <%= form_with model: @user,url: user_path(@user), method: :patch, local: true  do |f| %>
                <%= f.radio_button :action, :r1 %>
                <%= f.label :action, "全て" %><br>
                <%= f.radio_button :action, :r2 %>
                <%= f.label :action, "投稿のみ" %><br>
                <%= f.radio_button :action, :r3 %>
                <%= f.label :action, "いいねのみ" %><br>
                <%= f.radio_button :action, :r4 %>
                <%= f.label :action, "投稿といいね" %>
                <%= f.submit "更新" %>
              <% end %>
            </div>
            <script>
              $('.setting').on('click',function(){
                $('.setting-action').slideToggle();
              });
            </script>
          <% else %>
            <div id="follow-button">
              <%= render "public/relationships/follow", user: @user %>
            </div>
          <% end %>
        </div>
      </div>

      <!--ここから右側のワード一覧やワード作成欄-->
      <div class="col-md-8 offset-md-1">
        <% if @user.is_deleted == false %> <!--退会している場合ワード一覧を表示しない-->
          <% if @user == current_user %>
            <!--ワードの作成フォーム-->
            <%= form_with model:@word, url: words_path, method: :post, local:true do |f| %>
              <div class="form-group form-inline">
                <%= f.text_field :word, size: 70, class: "form-control mr-3" %>
                <%= f.submit "Create Word",class: "btn btn-secondary" %>
              </div>
            <% end %>
          <% else %>
            <h1 class="text-center mb-3">Words</h1>
          <% end %>
          <div id="word-index">
            <!--ワード一覧-->
            <% @words.each do |word| %>
            <div class="container">
              <div class="row">
                <div id="word-family" class="col form-group">
                  <%= link_to word.word, word_path(word), class: "btn btn-outline-secondary text-left shadow-sm" %>
                </div>
                <div class="col-1">
                  <% if @user = current_user %>
                    <%= link_to "", word_path(word), method: :delete, class: "far fa-trash-alt btn btn-outline-danger", data: {confirm: "「#{word.word}」を本当に削除しますか？"} %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% else %>
          退会済みです
        <% end %>
        <div class="d-flex justify-content-center mt-3">
          <%= paginate @words %>
        </div>
      </div>
    </div>
  </div>
</main>