<!DOCTYPE html>
<html>
  <head>
    <title>やる気スイッチ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('yarukiswitch.jpg') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><strong class="logo">やる気<span class="text-warning">スイッチ</span></strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-link">
                  <%= link_to(notifications_path) do %>
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack">
                        <i class="far fa-bell fa-lg fa-stack-2x ml-2 text-light" style="font-size: 1.5em;" ></i>
                        <i class="fas fa-circle n-circle ml-2 fa-stack-1x"></i>
                      </span>
                    <% else %>
                      <i class="far fa-bell fa-lg text-light" style="font-size: 1.5em;"></i>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to " Words", words_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " ランキング", favorites_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " Myページ", user_path(current_user), class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light", data: {confirm: "本当にログアウトしますか？"} %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to " 会員一覧", admin_root_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " Words", admin_words_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light", data: {confirm: "本当にログアウトしますか？"} %>
                </li>
              <% else %>
                <li>
                  <%= link_to " Words", words_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " ランキング", favorites_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " 新規登録", new_user_registration_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " ログイン", new_user_session_path, class: "nav-link text-light" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if notice %>
      <div class="text-primary"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
